.headerSection {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}

.header {
  padding: 1rem 3rem 2rem;
  width: 100%;
  max-width: 1300px;
}

.title h1 {
  font-style: normal;
  font-weight: normal;
  font-size: min(max(22px, 4vw), 26px);
  letter-spacing: 0.8px;
  color: #252525;
  text-transform: uppercase;
  margin-bottom: 0;
  cursor: pointer;
}
.title p {
  margin-top: 0;
  font-size: min(max(12px, 4vw), 14px);
}

.navLinks li {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
}

.navLinks li:hover {
  color: #48ba86;
}

.navLinks li:first-child {
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem 1.5rem;
  }
}
