@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Tahoma", "Arial", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

a {
  color: #48ba86;
  text-decoration: none;
  border-bottom: 1px solid rgba(72, 186, 134, 0);
  padding-bottom: 1px;
  transition: color 0.2s, border-color 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #6d6d6d;
}

p {
  color: #0e0e0e;
  line-height: 1.8;
  font-size: clamp(14px, 1.8vh, 18px);
}

h2 {
  font-family: "Lora", serif;
  font-weight: 300;
}

h5 {
  line-height: 1.8;
  font-size: 11px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 400;
  color: #0e0e0e;
}
.container {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
  margin: 0 auto;
  padding: 50px;
}

.project {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.single-project {
  grid-template-columns: auto;
}

@media (max-width: 992px) {
  .container {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 540px) {
  .container {
    grid-template-columns: none;
    padding: 50px 20px;
    width: 100%;
  }
}
